{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Mon Profil{% endblock %}

{% block main %}

<div class="example-wrapper">
    <h1>Hello {{ app.user.pseudo }}! </h1>
</div>

    <div class="col 12 col-md-6 shadow p-3 mb-5 bg-white ">
        <form method="post" class="m-3" >

        </form>
    </div>
{% endblock %}
