{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Home {% endblock %}

{% block main  %}


<div class="example-wrapper">
    <h1>Hello {{ app.user.firstName}} {{ app.user.name|upper}} !</h1>
    <a href="{{ path('vacation_new') }}" type="button" class="btn btn-dark btn-lg">Créer une sortie</a>
</div>
{% endblock %}
