{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Home {% endblock %}

{% block main  %}


<div class="example-wrapper">
    <h1>Hello {{ app.user.firstName}} {{ app.user.name|upper}} !</h1>
</div>
{% endblock %}
