.jumbotron{
    background: rgb(2,0,36);
    background: linear-gradient(152deg, rgba(2,0,36,1) 0%, rgba(1,1,10,1) 21%, rgba(0,212,255,1) 100%);
    color: whitesmoke;
}
.text-right{
    color: #999999;
}


h2 {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px){
    #tabVacations thead {
        display: none;
    }

    #tabVacations tr{
        display: block;
        margin-bottom: 40px;
    }

    #tabVacations td {
        display: block;
        text-align: right;
    }

    #tabVacations td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }


}

@media (max-width: 576px){
    #btnCreateVacation{
        display: none;
    }


}