
<div class="m-5">
{{ form_start(form) }}
    {{ form_row(form) }}
    <div class=" d-flex justify-content-center">
    <button class="btn btn-dark btn-lg">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
</div>