{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouvelle sortie{% endblock %}

{% block main %}
    <div class="d-block"> <h1 class="text-center m-3">Créer une sortie</h1>


    {{ include('vacation/_form.html.twig') }}

    </div>
{% endblock %}
