{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouvelle sortie{% endblock %}

{% block main %}


<div class="container">
    {{ include('vacation/_form.html.twig') }}
</div>
{% endblock %}
