<div>
<h1>Mon Profil</h1>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-danger m-2" value="Modifier">
    <input type="reset" class="btn btn-secondary m-2" value="Annuler">

{{ form_end(form) }}
</div>